PRIVATE_KEY=

RPC_URL_SEPOLIA=
RPC_URL_BASESEPOLIA=
RPC_URL_ARBITRUMSEPOLIA=
RPC_URL_OPTIMISMSEPOLIA=

RPC_URL_ETHEREUM=
RPC_URL_BSC=
RPC_URL_POLYGON=
RPC_URL_AVALANCHE=
RPC_URL_CELO=
RPC_URL_ARBITRUM=
RPC_URL_OPTIMISM=
RPC_URL_BASE=
RPC_URL_UNICHAIN=
RPC_URL_WORLDCHAIN=
RPC_URL_INK=
RPC_URL_HYPEREVM=
RPC_URL_MONAD=
RPC_URL_TEMPO=
RPC_URL_ARC=
RPC_URL_ROBINHOOD=
